:root {
  --theme: #f7f1e7;
  --entry: #fffbf5;
  --primary: #382e41;
  --secondary: #201f22;
  --tertiary: #404041;
  --content: #27212c;
  --code-bg: #f7f1e7;
  --border: #382e41;
  --tags: #382e41;
}

.dark {
  --theme: #0d0e0e;
  --entry: #2e3030;
  --primary: #ffd586;
  --secondary: #ffe7e4;
  --tertiary: #f7f2f1;
  --content: #fff2f0;
  --hljs-bg: #1d1d1d;
  --code-bg: #0d0e0e;
  --border: #fff2f0;
  --tags: #ffd586;
}
