.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 189px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 700;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 24px;
    line-height: 1.5;
    margin: 1px 0;
    font-weight: 700;
    font-style: italic;
}

.first-entry .entry-content {
    margin: 1px 0;
    font-size: 14px;
    -webkit-line-clamp: 3;
    font-weight: 400;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    font-family: 'Libre Baskerville', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.post-entry:active {
    transform: scale(0.96);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 22px;
    line-height: 1;
}

.entry-content {
    margin: 4px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 10px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: auto;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}
